{% extends "admin_base.html" %}


{% block head %}


{% block other_css %}
<link rel="stylesheet" href="{{url_for("static", filename="admin_base.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="add_books.css" )}}">
{% endblock other_css %}

{# Page Title #}
{% block title %}
<title>Add Book</title>
{% endblock title %}

{% endblock head %}


{# admin page title #}
{% block page_head %}
<div class="navbar-text-div">
    <h1>Add Book</h1>
</div>
{% endblock page_head %}

{% block content %}
<div class="inner-left">
    <div class="add-book-modal">
        <div class="add-book-form-div">
            <form action="" method="POST">
                {{ form.hidden_tag()}}
                <div class="each-input-div">
                    <label for="title"><h3>TITLE</h3></label>
                    <div class="input-field-div">
                        {{ form.title(class="input") }}
                    </div>
                </div>
                <div class="each-input-div">
                    <label for="author"><h3>AUTHOR</h3></label>
                    <div class="input-field-div">
                        {{ form.author(class="input") }}
                    </div>
                </div>
                <div class="each-input-div">
                    <label for="isbn"><h3>ISBN</h3></label>
                    <div class="input-field-div">
                        {{ form.isbn(class="input") }}
                    </div>
                </div>
                <div class="each-input-div">
                    <label for="copies"><h3>COPIES</h3></label>
                    <div class="input-field-div">
                        {{ form.copies(class="input") }}
                    </div>
                </div>
                <div class="add-book-btn-div">
                    {{ form.submit(class_="btn") }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="inner-right">
    <div class="inner-right-down">
        <div class="search-book-div">
            <div class="search-div">
                <h3>Search Books</h3>
                <div class="inp-div">
                    <input type="text" placeholder="Search Books">
                </div>
                <div class="search-btn-div">
                    <div class="search-btn">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-user-div">
            <div class="search-div">
                <h3>Search Users</h3>
                <div class="inp-div">
                    <input type="text" placeholder="Search Users">
                </div>
                <div class="search-btn-div">
                    <div class="search-btn">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}