{% extends "admin_base.html" %}


{% block head %}


{% block other_css %}
<link rel="stylesheet" href="{{url_for("static", filename="admin_base.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="adminDashboard.css" )}}">
{% endblock other_css %}

{# Page Title #}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock title %}

{% endblock head %}


{# admin page title #}
{% block page_head %}
<div class="navbar-text-div">
    <h1>Dashboard</h1>
</div>
{% endblock page_head %}

{# Admin main content container #}
{% block content %}
<div class="inner-left">
    <div class="inner-content-up">
        <a href="{{ url_for('manage_books')}}" class="view-link">
            <div class="book">
                <i class="icofont-book-alt"></i>
                <div class="x">
                    <h3>Physical <br> Books</h3>
                    <p>{{ library_books|length }}</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for('manage_ebooks') }}" class="view-link">
            <div class="book">
                <i class="icofont-ebook"></i>
                <div class="x">
                    <h3>eBooks</h3>
                    <p>{{ library_ebooks | length }}</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for('manage_users')}}" class="view-link">
            <div class="book">
                <i class="icofont-read-book-alt"></i>
                <div class="x">
                    <h3>Library <br> Users</h3>
                    <p>{{ library_users|length }}</p>
                </div>
            </div>
        </a>
    </div>
    <div class="inner-content-down">
        <div class="wrap-inner-content-down">
            <div class="borrowed-header">
                <h2>Borrowed Books</h2>
            </div>
            <div class="borrowed-book-details-div">
                {% if borrowed_books_data | length < 1 %} <h3 class="no-borrow-book-text">No book(s) borrowed from the
                    library</h3>
                    {% else %}
                    <div class="table-head-wrapper">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <td>
                                        <h3>S/N</h3>
                                    </td>
                                    <td>
                                        <h3>User ID</h3>
                                    </td>
                                    <td>
                                        <h3>Book Title</h3>
                                    </td>
                                    <td>
                                        <h3>Book ISBN</h3>
                                    </td>
                                    <td>
                                        <h3>Return Date</h3>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for borrow in borrowed_books_data[:3] %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{borrow.user_id}}</td>
                                    <td>{{borrow.title}}</td>
                                    <td>{{borrow.isbn}}</td>
                                    <td>{{borrow.return_date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="view-more-div">
                            <a href="{{url_for('borrowed_books_history')}}">
                                <div class="view-more-btn">
                                    <button class="">View All</button>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="inner-right">
    <div class="inner-right-up">
            <div class="lend-request-div">
                <a href="{{url_for('unreturned_books')}}">
                    <div class="borrowed-books">
                        <i class="icofont-address-book"></i>
                        <div class="x">
                            <h3>Borrowed <br>Books</h3>
                            <p>{{ unreturned_books | length }}</p>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    <div class="inner-right-down">
        <div class="image-banner-div">
            <img src="{{url_for("static", filename="images/b12d934a7dbd1431f73145ece3924ac2.webp" )}}"
                alt="Library Logo" class="banner">
        </div>
    </div>
</div>
{% endblock content %}