{% extends "admin_base.html" %}


{% block head %}


{% block other_css %}
<link rel="stylesheet" href="{{url_for("static", filename="admin_base.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="edit_book.css" )}}">
{% endblock other_css %}

{# Page Title #}
{% block title %}
<title>Edit Book</title>
{% endblock title %}

{% endblock head %}


{# admin page title #}
{% block page_head %}
<div class="navbar-text-div">
    <h1>Edit Book</h1>
</div>
{% endblock page_head %}

{% block content %}
<div class="inner-left">
    <div class="edit-user-modal">
        <a href="{{ url_for('manage_users') }}" class="close-modal-a">
            <div class="close-modal">
                <i class="icofont-close-squared-alt"></i>
            </div>
        </a>
        <form action="" method="post">
            {{ form.hidden_tag()}}
            <div class="each-input-div">
                <label for="firstName">
                    <h3>User ID</h3>
                </label>
                <div class="input-field-div">
                    {{ form.firstName(class="input", value= user.user_id, disabled = True) }}
                </div>
            </div>
            <div class="each-input-div">
                <label for="firstName">
                    <h3>First Name</h3>
                </label>
                <div class="input-field-div">
                    {{ form.firstName(class="input", value= firstName) }}
                </div>
            </div>
            <div class="each-input-div">
                <label for="firstName">
                    <h3>Last Name</h3>
                </label>
                <div class="input-field-div">
                    {{ form.lastName(class="input", value= lastName) }}
                </div>
            </div>
            <div class="each-input-div">
                <label for="firstName">
                    <h3>Email</h3>
                </label>
                <div class="input-field-div">
                    {{ form.email(class="input", value= user.email) }}
                </div>
            </div>
            <div class="update-user-btn-div">
                {{ form.submit(class_="update-btn") }}
            </div>
        </form>
    </div>
</div>
<div class="inner-right">

    <div class="inner-right-down">
        <div class="search-book-div">
            <div class="search-div">
                <h3>Search Books</h3>
                <div class="inp-div">
                    <input type="text" placeholder="Search Books">
                </div>
                <div class="search-btn-div">
                    <div class="search-btn">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-user-div">
            <div class="search-div">
                <h3>Search Users</h3>
                <div class="inp-div">
                    <input type="text" placeholder="Search Users">
                </div>
                <div class="search-btn-div">
                    <div class="search-btn">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}