* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(images/1632764400-gn9104560d0.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.copyright {
    /* background-color: red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* this pulls it back by half its own width to make it centered */
    bottom: 5%;
    color: white;
    font-size: 0.9rem;
}

.library-logo {
    position: absolute;
    right: 0;
    color: white;
    font-family: "WDXL Lubrifont SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 5px;
    z-index: 1;
}

.logo-img {
    width: 12rem;
    filter: brightness(0) invert(1);
}

.add-book-modal {
    background-color: white;
    width: 100%;
    height: 100%;
    /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25); */
    font-family: "Roboto Slab", serif;
    position: relative;
}

.add-book-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
    /* background-color: yellow; */
}

.add-book-form-div form {
    width: 80%;
    /* background-color: green; */

}

/* .add-book-form-div form input {
    width: 95%;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 0 12px 15px;
} */

.each-input-div {
    margin: 20px 0;
}

.input-field-div {
    margin: 10px 0;
}

.input-field-div input {
    width: 95%;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 0 12px 15px;
}

.add-book-btn-div {
    text-align: center;
    margin-top: 25px;
}

.btn{
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 0.9rem 7rem;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(50, 173, 50);
}

/* ----------------------------------------------------------------- */

.dashboard-parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.side-bar {
    background-color: rgb(44, 43, 43);
    height: 100%;
    width: 20%;
    /* text-align: center; */
}

.library-features-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-wrap-div {
    /* background-color: red; */
    width: 90%;
    padding: 15px 0;
}

.each-feature,
.each-feature-dashboard {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

.sign-out,
.addbook-button {
    text-decoration: none;
    color: white;
}

.each-feature-dashboard {
    background-color: rgb(22, 160, 125);
    cursor: pointer;
}

.each-feature:hover {
    background-color: rgb(22, 160, 125);
    cursor: pointer;
}

.icon-div {
    /* background-color: grey; */
    padding: 10px;
}

.icon-div i {
    font-size: 25px;
}

.each-feature p {
    font-size: 16px;
}

.main-content {
    background-color: whitesmoke;
    height: 100%;
    width: 80%;
    position: relative;
}

.display-user-section {
    background-color: rgb(85, 81, 81);
    height: var(--header-height)
}

.display-user-div {
    /* background-color: green; */
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 30px;
}

.display-user-div h2 {
    padding: 0 0 0 2.5rem;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

.icofont-ui-user {
    position: absolute;
    background-color: rgb(163, 158, 158);
    padding: 8px;
    border-radius: 100%;
}

:root {
    --header-height: 14.2%;
}

.library-features-section {
    /* background-color: red; */
    height: calc(100% - var(--header-height));
}

.header-div {
    /* background-color: blue; */
    height: var(--header-height);
    color: black;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar-text-div {
    padding: 2rem;
    /* background-color: red; */
    width: 100%;
}

.navbar-text-div h1 {
    font-family: "Roboto Slab", serif;
}

.content-div {
    /* background-color: blue; */
    width: 100%;
    height: calc(100% - var(--header-height));
    position: absolute;
    top: var(--header-height);
    display: flex;
    justify-content: center;
    color: black;
    font-family: "Roboto Slab", serif;
}

.inner-content-div {
    /* background-color: brown; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-left {
    /* background-color: yellow; */
    width: 65%;
}



.inner-content-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    /* background-color: green; */
}

.inner-right {
    /* background-color: orange; */
    width: 32%;
    margin-left: auto;
}

.inner-right-up {
    padding: 10px 0 0 0;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lend-request-div {
    width: 100%;
}

.inner-right-down {
    /* background-color: red; */
    width: 100%;
}

.search-book-div,
.search-user-div {
    width: 100%;
}

.search-book-div {
    margin-bottom: 20px;
}

.search-div {
    padding: 10px 20px;
    box-shadow: 2px 1px 1px 0 0 rgba(0, 0, 0, 0.521);
    background-color: white;
    border-radius: 5px;
}

.inp-div {
    display: flex;
    justify-content: center;
}

.search-book-div input,
.search-user-div input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
    margin-top: 15px;
}

.search-btn-div {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.search-book-div button,
.search-user-div button {
    background-color: rgb(19, 129, 102);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
}

.search-book-div button:hover,
.search-user-div button:hover {
    background-color: rgb(18, 173, 134);
    cursor: pointer;
}


