.read_ebook_btn {
    background-color: greenyellow;
    color: black;
    font-family: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.read-btn-div {
    margin-top: 40px;
    margin-left: auto;
}