.edit-user-modal {
    background-color: white;
    /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25); */
    font-family: "Roboto Slab", serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-user-modal form {
    width: 80%;
    /* background-color: red; */
}

.edit-user-modal form input {
    width: 95%;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 0 12px 15px;
}

.each-input-div {
    margin: 20px 0;
}

.input-field-div {
    margin: 10px 0;
}

.update-user-btn-div {
    text-align: center;
    margin: 25px 0;
}

.update-btn{
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 0.9rem 7rem;
    text-decoration: none;
}

.update-btn:hover {
    background-color: rgb(50, 173, 50);
}