* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(images/1632764400-gn9104560d0.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.copyright {
    /* background-color: red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* this pulls it back by half its own width to make it centered */
    bottom: 5%;
    color: white;
    font-size: 0.9rem;
}

.welcome-note-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inner-welcome {
    background-color: rgb(240, 235, 235);
    width: 40rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-note {
    width: 70%;
}

.welcome-note h2 {
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto Slab", serif;
}

.welcome-note p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
}

.continue-btn {
    text-align: center;
    margin-top: 15px;
}

.continue-btn button {
    font-family: "Roboto Slab", serif;
    background-color: green;
    text-align: center;
    color: white;
    padding: 0.75rem 3rem;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.continue-btn button:hover {
    background-color: rgb(50, 173, 50);
}

.admin-btn {
    text-align: center;
    margin-top: 10px;
    
}

.admin-login-button {
    background-color: black;
    color: white;
    padding: 0.75rem 3rem;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
}


/* Fullscreen overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* display: none; */
}

/* Spinner itself */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #4CAF50;
    /* green */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}