* {
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(images/1632764400-gn9104560d0.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.library-logo {
    position: absolute;
    color: white;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 5px;
}

.logo-img {
    width: 12rem;
    filter: brightness(0) invert(1);
}

.copyright {
    /* background-color: red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* this pulls it back by half its own width to make it centered */
    bottom: 5%;
    color: white;
    font-size: 0.9rem;
}

.signup-modal-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.signup {
    background-color: rgb(240, 235, 235);
    width: 50rem;
    height: 28rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-detals-space {
    width: 80%;
}

.welcome-text {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-text h1,
h5 {
    font-family: "Roboto Slab", serif;
}

.name-input-div,
.email-input-div,
.password-input-div {
    position: relative;
}

.icofont-ui-user,
.icofont-email,
.icofont-ui-password {
    position: absolute;
    top: 0.7rem;
    padding: 15px;
    background-color: grey;
    color: white;
    border-radius: 10px 0 0 10px;
    /* font-size: 15px; */
}

.inputs-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.input-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.input-row input {
    flex: 1;
    /* makes each input take equal space */
    min-width: 150px;
    box-sizing: border-box;
    width: 19rem;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px 15px 15px 55px;
    outline: none;
}

.signup-btn {
    margin: 10px;
}

.signup-btn a {
    font-family: "Roboto Slab", serif;
    font-size: 15px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 0.9rem 7rem;
    text-decoration: none;
}

.signup-btn a:hover {
    background-color: rgb(50, 173, 50);
}

.terms-and-conditions-div {
    font-family: "Parastoo", serif;
    font-size: 18px;
}

.already-have-acct-div{
    font-family: "Parastoo", serif;
    font-size: 20px;
}

.already-have-acct-div p b {
    cursor: pointer;
}

.already-have-acct-div a {
    text-decoration: none;
    color: black;
}

.already-have-acct-div a:hover {
    color: green;
}

.terms-and-conditions-div b {
    color: rgb(87, 87, 238);
}




/* Fullscreen overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* display: none; */
}

/* Spinner itself */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #4CAF50;
    /* green */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}