{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{url_for("static", filename="userDashboard.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="icofont/icofont.min.css" )}}">
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Outfit:wght@100..900&family=Parastoo:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Exile&family=Outfit:wght@100..900&family=Parastoo:wght@400..700&family=Roboto+Slab:wght@100..900&family=WDXL+Lubrifont+SC&display=swap');
</style>
<title>Dashboard - Mustyl Library</title>
{% endblock head %}


{% block body %}
<h1>Welcome to user Dashboard, {{ user.name }}</h1> 
{% endblock body %}