{% extends "base.html" %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQ2W+o3a3U5w3UJz3zU+45p1w+MZtYYzR+g49dRF6S/jr+4U26lJP9aG6" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for("static", filename="admin_base.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="user_base.css" )}}">

{% block title %}{% endblock title %}
{% endblock head %}


{% block body %}
<main>
    <div class="library-logo">
        <img src="{{url_for("static", filename="images/Mustyl_library_logo-removebg-preview.png" )}}"
            alt="Library Logo" class="logo-img">
    </div>
    <div class="dashboard-parent-div">
        <div class="side-bar">
            <div class="display-user-section">
                <div class="display-user-div">
                    <i class="icofont-ui-user"></i>
                    <h2>Hello, {{ user_first_name }}</h2>
                </div>
            </div>
            <div class="library-features-section">
                <div class="features-wrap-div">
                    <a href="{{ url_for('userDashboard') }}" class="a-link">
                        <div class="each-feature {{ 'active' if active_page == 'userDashboard' else '' }}">
                            <div class="icon-div">
                                <i class="icofont-home"></i>
                            </div>
                            <p>Dashboard</p>
                        </div>
                    </a>
                    <a href="{{ url_for('library_books') }}" class="a-link">
                        <div class="each-feature {{ 'active' if active_page == 'library_books' else '' }}">
                            <div class="icon-div">
                                <i class="icofont-read-book-alt"></i>
                            </div>
                            <p>Borrow Book</p>
                        </div>
                    </a>
                    <a href="{{ url_for('return_books') }}" class="a-link">
                        <div class="each-feature {{ 'active' if active_page == 'return_books' else '' }}">
                            <div class="icon-div">
                                <i class="icofont-triangle"></i>
                            </div>
                            <p>Return Book</p>
                        </div>
                    </a>
                    <a href="{{ url_for('user_search_books') }}" class="a-link">
                        <div class="each-feature {{ 'active' if active_page == 'user_search_books' else '' }}">
                            <div class="icon-div">
                                <i class="icofont-search-document"></i>
                            </div>
                            <p>Search Books</p>
                        </div>
                    </a>
                    <a href="{{ url_for('user_borrowed_books') }}" class="a-link">
                        <div class="each-feature {{ 'active' if active_page == 'view_borrowed_books' else '' }}">
                            <div class="icon-div">
                                <i class="icofont-ebook"></i>
                            </div>
                            <p>Borrowed Books History</p>
                        </div>
                    </a>
                    <div class="each-feature">
                        <div class="icon-div">
                            <i class="icofont-read-book"></i>
                        </div>
                        <p>Read eBooks</p>
                    </div>
                    <a href="{{url_for('logout')}}" class="sign-out">
                        <div class="each-feature">
                            <div class="icon-div">
                                <i class="icofont-sign-out"></i>
                            </div>
                            <p>Sign Out</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="header-div">
                {% block page_head %}

                {% endblock page_head %}
            </div>
            <div class="content-div">
                <div class="inner-content-div">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <small>2025 © Mustyl Library</small>
    </div>
</main>
{% endblock body %}