{% extends "user_base.html" %}


{% block head %}


{% block other_css %}
<link rel="stylesheet" href="{{url_for("static", filename="admin_base.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="adminDashboard.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="userDashboard.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="search_users.css" )}}">
<link rel="stylesheet" href="{{url_for("static", filename="library_books.css" )}}">
{% endblock other_css %}

{# Page Title #}
{% block title %}
<title>Return Library Books</title>
{% endblock title %}

{% endblock head %}


{# admin page title #}
{% block page_head %}
<div class="navbar-text-div">
    <h1>Return Book(s)</h1>
</div>
{% endblock page_head %}

{# User main content container #}
{% block content %}
<div class="inner-left">
    <div class="search-div-modal">
        <form action="" method="post">
            {{ form.hidden_tag()}}
            <div class="borrow-input-div">
                {{ form.isbn(class="input") }}
            </div>
            <div class="borrow-button-parent">
                {{ form.submit(class_="borrow-button") }}
            </div>
        </form>
        
    </div>

    
</div>
<div class="inner-right">
    <div class="inner-right-down">
        <div class="image-banner-div">
            <img src="{{url_for("static",
                filename="images/promo-flyer-banner-with-electronic-ebook-reader-stack-of-books-bow-plant-world-book-day-book-heap-bookstore-bookshop.jpg"
                )}}" alt="Library Logo" class="banner">
        </div>
    </div>
</div>
{% endblock content %}